/* css reset */
*{
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
/* css variables */
:root{
    --navbar-height:59px;
}

/* Navigation bar */
#navbar{
    display:flex;
    align-items:center;
    /* justify-content: center; */
    /* background-color: brown; */
    /* position: relative; */
    top: 0px;
    position:sticky
    
}

#navbar::before{
    content:"";
    background-color:black;
    position:absolute;
    top:0px;
    left:0px; 
    height:100%;
    width:100%;
    z-index:-1;
    opacity:0.4;
}
/* Logo 7nd image  */
#logo{
    margin: -15px 33px;
    height: 90px;
}
#logo img{
    margin: 11px -29px;
    height: 74px;

} 



/* List items */
#navbar ul{
    display:flex;
    font-size:1.3rem;
    font-family: 'Baloo Bhai 2', cursive;   
}

/* List items */
#navbar ul li{
    
    list-style: None;   /* remove the bullets which is included in a tag. */

}

#navbar ul li a{
    display:block;
    padding:3px 22px;
    border-radius:20px;
    text-decoration:None;
    color:white;
}
/* hover */
#navbar ul li a:hover{
   color:black;
   background-color: white
   border:2px solid red;
}

/* Home section  */
#home{
    display:flex;
    flex-direction: column;
    padding:3px 100px;
    height:374px;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    
    
     
}
#home::before{
    content:"";
    background:url('../bg.jpg') no-repeat center center/cover;
    position:absolute;
    top:0px;
    left:0px; 
    height:454px;
    width:100%;
    z-index:-1;
    opacity:0.89;
     
}
#home h1{
    color:white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color:white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
/* services section  */
#services{
    margin:1px;
    display:flex;
   
}
#services .box{
    height:292px;
    border:2px solid brown;
    border-radius: 23px;
    margin:10px 31px;
    padding:20px;
    box-shadow: 5px 5px 10px rgb(151, 64, 13);
    /* box-shadow: -5px -5px 10px green; */
        /* box-shadow:inset 5px 50px blue; */
    background:rgb(233, 208, 192);
    
}
#services .box:hover{
    /* height:334px; */
    border:2px solid brown;
    border-radius: 23px;
    margin:10px 34px;
    padding:20px;
    /* box-shadow: 5px 5px rgb(151, 64, 13); */
    box-shadow: -5px -5px 10px rgb(151, 64, 13);
        /* box-shadow:inset 5px 50px blue; */
    background-color:rgb(211, 147, 110);
    
}
#services .box img{
    height:130px;
    display: block;
    margin:auto;
}
/* content section  */
#contact{
    position:relative;
    /* background: url('../contact.jpeg') no-repeat center center/cover; */
    
}
#contact::before{
   content:"";
   background: url('../contact.jpeg') no-repeat center center/cover;
   position:absolute;
   width:100%;
   height:100%;
   z-index:-1;
   opacity:0.5;   
}
#contact-box{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:13px;
}
#contact-box input{
    padding:3px;
    width:100%;
    border-radius:10px;
    font-size: 1.1rem;
}
#contact-box form{
    width:40%;
}
#contact-box label{
    font-size:1.3rem;
    font-family: 'Bree Serif', serif;
}
footer{
    background: black;
    color:white;
    padding:3px 10px;
}


/* Utility classes */
.h-primary{
    font-size:2.8rem;
    padding:12px;
    font-family: 'Bree Serif', serif;
}
.h-secondary{
    font-size:1.2rem;
    padding:12px;
}
.btn{
    padding:6px 20px;
    border:2px solid white;
    border-radius:10px;
    background-color: brown;
    color:white;
    margin:17px;
    font-size: 1.5rem;
    cursor:pointer;
}
.center{
    text-align: center;
}
/* client section */

#client-section{
    /* height:243px; */
    position:relative;
    margin-top: 20px;
   
}
#client-section::before{
    content:"";
    background: url('../client-bg.png') no-repeat center center/cover;
    position:absolute;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:0.4;
}
#clients{
    display:flex;
    justify-content: center; 
    align-items: center;
    
    
}
.client-item{
    padding:5px; 
}
#clients img{
    height:116px;
}